
<div class="product">
  <div class="grid-container">
    <div *ngFor="let product of products">
        <div class="jumbotron" style="height: 500px">
            <img src="{{product.im}}" width="189" height="255">
            
              <p>{{product.author}}</p>
              <p>{{product.name}}</p>
                <span class="price">{{product.price}}ʛ</span>
                <button type="button" class="btn btn-outline-secondary">In cart</button>
            
        </div>
    </div>
  </div> 
</div>

<li class="showmore">
  <button class="btn btn-lg btn-primary btn-block" (click)="loadBooks()" [disabled]="loadedAll">
    Show more
  </button>
</li>



<!--<h2>{{oneproduct.name | uppercase}} Details</h2>
<div><span>id: </span>{{oneproduct.id}}</div>
<div>
  <label>name:
    <input [(ngModel)]="oneproduct.name" placeholder="name"/>
  </label>
</div>*/-->

